// Breakpoint variables

// Mobile
$screen-sm-max: 375px;

// Tablet
$screen-md-max: 600px;

// Small Desktop
$screen-lg-max: 900px;

// Desktops
$screen-xl-max: 1440px;

// Breakpoint mixins

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
